body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #f9f8fc;
  color: #333;
  margin: 30px;
}

.teacher-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.teacher-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.teacher-card__photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.teacher-card__info,
.teacher-card__activity,
.teacher-card__chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 30px;
}

.teacher-card__info span:first-child {
  font-weight: 600;
  color: #333;
}

.teacher-card__info span:last-child {
  color: #a45cf3;
}

.teacher-card__activity span:first-child {
  font-weight: 500;
  color: #555;
}

.teacher-card__activity span:last-child {
  color: #888;
}

.teacher-card__chat span:first-child {
  color: #555;
}

.teacher-card__chat span:last-child {
  color: #a45cf3;
  font-weight: 500;
  justify-content: ;
}
